---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/reference-data/locations?keyword=OOO&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 0001PFNUC38QKA
      Ama-Gateway-Request-Id:
      - rrt-0f4a742ed0eb9a063-b-de-11132-15344953-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 0,
                "links": {
                    "self": "https://test.api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=OOO"
                }
            },
            "data": []
        }
  recorded_at: Sat, 28 Oct 2023 13:24:09 GMT
recorded_with: VCR 6.2.0
