---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=OOO&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 00017C1IW3CO08
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26723-27533079-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 0,
                "links": {
                    "self": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=OOO"
                }
            },
            "data": []
        }
  recorded_at: Mon, 30 Oct 2023 16:19:19 GMT
recorded_with: VCR 6.2.0
