---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=DUB&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 0001IT2TK3E7PM
      Ama-Gateway-Request-Id:
      - rrt-05a3c5afa5a615af8-a-de-2279-32448234-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 14,
                "links": {
                    "self": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=DUB",
                    "next": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=DUB&page%5Boffset%5D=10",
                    "last": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=DUB&page%5Boffset%5D=4"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "DUBAI INTL",
                    "detailedName": "DUBAI/AE:DUBAI INTL",
                    "id": "ADXB",
                    "self": {
                        "href": "https://api.amadeus.com/v1/reference-data/locations/ADXB",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "+04:00",
                    "iataCode": "DXB",
                    "geoCode": {
                        "latitude": 25.25278,
                        "longitude": 55.36445
                    },
                    "address": {
                        "cityName": "DUBAI",
                        "cityCode": "DXB",
                        "countryName": "UNITED ARAB EMIRATES",
                        "countryCode": "AE",
                        "regionCode": "MEAST"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 59
                        }
                    }
                },
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "DUBLIN INTERNATIONAL",
                    "detailedName": "DUBLIN/IE:DUBLIN INTERNATIONAL",
                    "id": "ADUB",
                    "self": {
                        "href": "https://api.amadeus.com/v1/reference-data/locations/ADUB",
                        "methods": [
              [...]
