---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=LHR&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 0001N7LI53CO07
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26726-27532981-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 1,
                "links": {
                    "self": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=LHR"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "HEATHROW",
                    "detailedName": "LONDON/GB:HEATHROW",
                    "id": "ALHR",
                    "self": {
                        "href": "https://api.amadeus.com/v1/reference-data/locations/ALHR",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "+00:00",
                    "iataCode": "LHR",
                    "geoCode": {
                        "latitude": 51.47750,
                        "longitude": -0.46138
                    },
                    "address": {
                        "cityName": "LONDON",
                        "cityCode": "LON",
                        "countryName": "UNITED KINGDOM",
                        "countryCode": "GB",
                        "regionCode": "EUROP"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 45
                        }
                    }
                }
            ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:18 GMT
recorded_with: VCR 6.2.0
