---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 00011K91F37NXA
      Ama-Gateway-Request-Id:
      - rrt-0f4a742ed0eb9a063-b-de-11131-11751901-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 1,
            "links" : {
              "self" : "https://test.api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-27"
            }
          },
          "data" : [ {
            "type" : "DatedFlight",
            "scheduledDepartureDate" : "2023-10-27",
            "flightDesignator" : {
              "carrierCode" : "LH",
              "flightNumber" : 2479
            },
            "flightPoints" : [ {
              "iataCode" : "LHR",
              "departure" : {
                "timings" : [ {
                  "qualifier" : "STD",
                  "value" : "2023-10-27T17:50+01:00"
                } ]
              }
            }, {
              "iataCode" : "MUC",
              "arrival" : {
                "timings" : [ {
                  "qualifier" : "STA",
                  "value" : "2023-10-27T20:40+02:00"
                } ]
              }
            } ],
            "segments" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "scheduledSegmentDuration" : "PT1H50M",
              "partnership" : {
                "operatingFlight" : {
                  "carrierCode" : "AV",
                  "flightNumber" : 6524
                }
              }
            } ],
            "legs" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "aircraftEquipment" : {
                "aircraftType" : "320"
              },
              "scheduledLegDuration" : "PT1H50M"
            } ]
          } ]
        }
  recorded_at: Fri, 27 Oct 2023 23:29:33 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/reference-data/locations?keyword=LHR&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 0001OZIPW37NXA
      Ama-Gateway-Request-Id:
      - rrt-0f4a742ed0eb9a063-b-de-11131-11751915-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 1,
                "links": {
                    "self": "https://test.api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=LHR"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "HEATHROW",
                    "detailedName": "LONDON/GB:HEATHROW",
                    "id": "ALHR",
                    "self": {
                        "href": "https://test.api.amadeus.com/v1/reference-data/locations/ALHR",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "+01:00",
                    "iataCode": "LHR",
                    "geoCode": {
                        "latitude": 51.47750,
                        "longitude": -0.46138
                    },
                    "address": {
                        "cityName": "LONDON",
                        "cityCode": "LON",
                        "countryName": "UNITED KINGDOM",
                        "countryCode": "GB",
                        "regionCode": "EUROP"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 45
                        }
                    }
                }
            ]
        }
  recorded_at: Fri, 27 Oct 2023 23:29:33 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/reference-data/locations?keyword=MUC&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 00011K91T37NXB
      Ama-Gateway-Request-Id:
      - rrt-0f4a742ed0eb9a063-b-de-11131-11751941-1
    body[...]
