---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=CDG&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 00013DOYA3CO03
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26724-27532497-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 1,
                "links": {
                    "self": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=CDG"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "CHARLES DE GAULLE",
                    "detailedName": "PARIS/FR:CHARLES DE GAULLE",
                    "id": "ACDG",
                    "self": {
                        "href": "https://api.amadeus.com/v1/reference-data/locations/ACDG",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "+01:00",
                    "iataCode": "CDG",
                    "geoCode": {
                        "latitude": 49.01278,
                        "longitude": 2.55000
                    },
                    "address": {
                        "cityName": "PARIS",
                        "cityCode": "PAR",
                        "countryName": "FRANCE",
                        "countryCode": "FR",
                        "regionCode": "EUROP"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 42
                        }
                    }
                }
            ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:14 GMT
recorded_with: VCR 6.2.0
