---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001KBE513CNZZ
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26725-27532227-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 1,
            "links" : {
              "self" : "https://api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-30"
            }
          },
          "data" : [ {
            "type" : "DatedFlight",
            "scheduledDepartureDate" : "2023-10-30",
            "flightDesignator" : {
              "carrierCode" : "LH",
              "flightNumber" : 2479
            },
            "flightPoints" : [ {
              "iataCode" : "LHR",
              "departure" : {
                "terminal" : {
                  "code" : "2"
                },
                "timings" : [ {
                  "qualifier" : "STD",
                  "value" : "2023-10-30T17:50Z"
                } ]
              }
            }, {
              "iataCode" : "MUC",
              "arrival" : {
                "terminal" : {
                  "code" : "2"
                },
                "gate" : {
                  "mainGate" : "H10"
                },
                "timings" : [ {
                  "qualifier" : "STA",
                  "value" : "2023-10-30T20:40+01:00"
                } ]
              }
            } ],
            "segments" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "scheduledSegmentDuration" : "PT1H50M"
            } ],
            "legs" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "aircraftEquipment" : {
                "aircraftType" : "32N"
              },
              "scheduledLegDuration" : "PT1H50M"
            } ]
          } ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:10 GMT
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=LHR&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 000141W873CNZZ
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26726-27532266-1
    body:
      encoding: UTF-8
      string: |-
        {
            "meta": {
                "count": 1,
                "links": {
                    "self": "https://api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=LHR"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "HEATHROW",
                    "detailedName": "LONDON/GB:HEATHROW",
                    "id": "ALHR",
                    "self": {
                        "href": "https://api.amadeus.com/v1/reference-data/locations/ALHR",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "+00:00",
                    "iataCode": "LHR",
                    "geoCode": {
                        "latitude": 51.47750,
                        "longitude": -0.46138
                    },
                    "address": {
                        "cityName": "LONDON",
                        "cityCode": "LON",
                        "countryName": "UNITED KINGDOM",
                        "countryCode": "GB",
                        "regionCode": "EUROP"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 45
                        }
                    }
                }
            ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:10 GMT
- request:
    method: get
    uri: https://api.amadeus.com/v1/reference-data/locations?keyword=MUC&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Request-Id:
      - 00012ZW1N3CNZZ
      Ama-Gateway-Request-Id:
      - rrt-09c524ce623c608a3-a-de-26725-27532280-1
    body:
   [...]
