---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 000120JLO38QKD
      Ama-Gateway-Request-Id:
      - rrt-0f4a742ed0eb9a063-b-de-11131-15345227-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 0,
            "links" : {
              "self" : "https://test.api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-28"
            }
          },
          "data" : [ ]
        }
  recorded_at: Sat, 28 Oct 2023 13:24:12 GMT
recorded_with: VCR 6.2.0
