---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001OZIU337NXJ
      Ama-Gateway-Request-Id:
      - rrt-0199f43396dec0872-b-de-25074-10914465-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 0,
            "links" : {
              "self" : "https://test.api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-27"
            }
          },
          "data" : [ ]
        }
  recorded_at: Fri, 27 Oct 2023 23:29:42 GMT
recorded_with: VCR 6.2.0
