---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001RLXW83CO0B
      Ama-Gateway-Request-Id:
      - rrt-05a3c5afa5a615af8-a-de-2279-27750314-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 0,
            "links" : {
              "self" : "https://api.amadeus.com/v2/schedule/flights?carrierCode=XX&flightNumber=7777&scheduledDepartureDate=2023-10-30"
            }
          },
          "data" : [ ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:22 GMT
recorded_with: VCR 6.2.0
