---
http_interactions:
- request:
    method: get
    uri: https://api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001S4G9V3CO0A
      Ama-Gateway-Request-Id:
      - rrt-05a3c5afa5a615af8-a-de-2276-27750202-1
    body:
      encoding: UTF-8
      string: |-
        {
          "meta" : {
            "count" : 1,
            "links" : {
              "self" : "https://api.amadeus.com/v2/schedule/flights?carrierCode=LH&flightNumber=2479&scheduledDepartureDate=2023-10-30"
            }
          },
          "data" : [ {
            "type" : "DatedFlight",
            "scheduledDepartureDate" : "2023-10-30",
            "flightDesignator" : {
              "carrierCode" : "LH",
              "flightNumber" : 2479
            },
            "flightPoints" : [ {
              "iataCode" : "LHR",
              "departure" : {
                "terminal" : {
                  "code" : "2"
                },
                "timings" : [ {
                  "qualifier" : "STD",
                  "value" : "2023-10-30T17:50Z"
                } ]
              }
            }, {
              "iataCode" : "MUC",
              "arrival" : {
                "terminal" : {
                  "code" : "2"
                },
                "gate" : {
                  "mainGate" : "H10"
                },
                "timings" : [ {
                  "qualifier" : "STA",
                  "value" : "2023-10-30T20:40+01:00"
                } ]
              }
            } ],
            "segments" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "scheduledSegmentDuration" : "PT1H50M"
            } ],
            "legs" : [ {
              "boardPointIataCode" : "LHR",
              "offPointIataCode" : "MUC",
              "aircraftEquipment" : {
                "aircraftType" : "32N"
              },
              "scheduledLegDuration" : "PT1H50M"
            } ]
          } ]
        }
  recorded_at: Mon, 30 Oct 2023 16:19:21 GMT
recorded_with: VCR 6.2.0
